@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Prata&display=swap');

/* fonts 
body: font-family: 'Inter', sans-serif;
headings: font-family: 'Prata', serif;
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
body{
    background-color: black;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px 40px 70px;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    list-style: none;
    margin: 0 10px;
}
.menu li a{
    text-decoration: none;
}
button a{
    background-color: rgb(245, 220, 0);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 2px;
}
.top{
    margin: 20px 70px 40px 70px;
}
.top h3{
    font-family: 'Prata', serif;
    max-width: 20ch;
    font-size: 30px;
}
.top p{
    font-size: xx-small;
    font-family: 'Inter', sans-serif;
    max-width: 60ch;
    font-size: 10px;
}
.logos ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 20px 70px 40px 70px;
}
.logos ul li{
    text-decoration: none;
}
.logos ul li img{
    width: 60px;
}
.pic-o{
    display: flex;
    margin: 20px 70px 40px 70px;
    width: 60px;
}
.pic-o div p{
    max-width: 50ch;
    font-weight: 10;
    margin-top: 15px;
}
.right-pic{
    margin: 0 60px;
}
.grey{
    background-color: rgb(63, 61, 61);
    display: flex;
}
.grey div{
    margin: 20px 70px 40px 70px;
    max-width: 35ch;
}
footer{
    background-color: rgb(63, 61, 61);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer ul{
    display: flex;
    list-style: none;
}
footer ul li{
    margin: 0 5px;
}
