@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Prata&display=swap');

/* fonts 
body: font-family: 'Inter', sans-serif;
headings: font-family: 'Prata', serif;
*/

@media all and (min-width: 800px){ 
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: whitesmoke;
    }
    body{
        background-color: black;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 70px 40px 70px;
    }
    .menu{
        list-style: none;
        display: flex;
    }
    .hamMenu{
        display: none;
    }
    .menu li{
        list-style: none;
        margin: 0 20px;
        font-family: 'Inter', sans-serif;
    }
    .menu li a{
        text-decoration: none;
    }
    .menu li a:hover{
        background-color: yellowgreen;
        padding: 5px;
        border-radius: 5px;
        color: rgb(1, 3, 116);
    }
    .click{
        background-color: rgb(245, 220, 0);
        padding: 10px;
        border-radius: 2px;
        border: 0;
    }
    .click a{
        text-decoration: none;
        color: black;
    }
    .click:hover{
        background-color: black;
    }
    .click a:hover{
        background-color: black;
        color: whitesmoke;
    }
    .top{
        margin: 20px 70px 40px 70px;
    }
    .top h3{
        font-family: 'Prata', serif;
        max-width: 20ch;
        font-size: 30px;
        font-weight: lighter;
    }
    .top p{
        font-size: xx-small;
        font-family: 'Inter', sans-serif;
        max-width: 60ch;
        font-size: 10px;
        word-spacing: 1px;
        line-height: 15px;
    }
    .logos ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin: 20px 70px 40px 70px;
    }
    .logos ul li{
        text-decoration: none;
    }
    .logos ul li img{
        width: 80px;
    }
    .pic-o{
        display: flex;
        margin: 20px 70px 40px 70px;
    }
    .pic-o div h3{
        font-family: 'Prata', serif;
        margin-top: 10px;
        font-weight: lighter;
    }
    .pic-o div p{
        font-family: 'Inter', sans-serif;
        max-width: 50ch;
        margin-top: 12px;
        font-size: 13px;
        line-height: 18px;
        font-weight: lighter;
    }
    .right-pic{
        margin: 0 130px;
    }
    .grey .main-div{
        background-color: rgb(80, 80, 80);
        display: flex;
    }
    .grey .main-div div{
        margin: 30px 70px;
    }
    .grey div h2{
        font-family: 'Prata', serif;
        max-width: 20ch;
        font-weight: lighter;
    }
    .grey div p{
        font-family: 'Inter', sans-serif;
        max-width: 48ch;
    }
    .grey .main-div .right{
        margin-left: 135px;
    }
    .buttom{
        margin: 45px 70px 40px 70px;
    }
    .buttom h3{
        font-size: 25px;
        font-family: 'Prata', serif;
    }
    .buttom p{
        font-size: 13px;
        font-family: 'Inter', sans-serif;
        max-width: 48ch;
    
        line-height: 18px;
    }
    .but-ton{
        background-color: rgb(245, 220, 0);
        padding: 10px;
        border-radius: 2px;
        border: 0;
        margin-top: 18px;
    }
    .but-ton a{
        text-decoration: none;
        color: black;
    }
    .but-ton:hover{
        background-color: black;
        color: whitesmoke;
    }
    .but-ton a:hover{
        color: whitesmoke;
    }
    /*footer section*/
    footer{
        background-color: rgb(63, 61, 61);
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 135px 0 70px;
        padding: 10px;
    }
    footer ul{
        display: flex;
        list-style: none;
        cursor: pointer;
    }
    footer ul li{
        margin: 0 5px;
    }
}
@media screen and (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        color: rgb(230, 229, 229);
    }
    body{
        background-color: black;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 30px 50px 30px;
    }
    .nav-bar .menu{
        display: none;
    }
    .click{
        display: none;
    }
    .nav-bar p, img{
        font-size: 30px;
        font-weight: lighter;
    }
    .top h3{
        font-size: 60px;
        font-weight: lighter;
        max-width: 80%;
        margin: 0 30px;
    }
    .top p{
        color: rgb(230, 229, 229);
        margin: 20px 30px 0 30px;
        max-width: 45%;
        font-size: 1rem;
        font-weight: bolder;
        word-spacing: 8px;
        line-height: 25px;
    }
    .pic-o{
        display: flex;
        flex-direction: column;
    }
    .pic-o .left-pic{
        margin: 50px 30px 30px 30px;
    }
    .pic-o .left-pic img{
        width: 100%;
    }
    .pic-o .left-pic h3{
        font-size: 50px;
        font-weight: lighter;
        margin-top: 15px;
    }
    .pic-o .left-pic p{
        font-weight: 900;
        margin: 15px 0 40px 0;
        max-width: 71%;
        line-height: 20px;
        word-spacing: 3px;
    }
    .pic-o .right-pic{
        margin: 50px 30px 30px 30px;
    }
    .pic-o .right-pic img{
        width: 100%;
    }
    .pic-o .right-pic h3{
        font-size: 50px;
        font-weight: lighter;
        margin-top: 15px;
    }
    .pic-o .right-pic p{
        font-weight: 900;
        margin: 15px 0 40px 0;
        max-width: 70%;
        line-height: 20px;
        word-spacing: 5px;
    }
    .grey .main-div{
        background-color: rgb(80, 80, 80);
        display: flex;
        flex-direction: column;
    }
    .grey .main-div h2{
        font-size: 50px;
        margin: 50px 0 0 30px;
        max-width: 70%;
    }
    .grey .main-div p{
        margin: 30px 0 0 30px;
        font-size: 25px;
        max-width: 60%;
        line-height: 30px;
        font-weight: lighter;
    }
    .grey .main-div .right p{
        margin-top: 100px;
    }
    .buttom{
        margin: 70px 0 0 30px;
    }
    .buttom h3{
        font-size: 50px;
        max-width: 70%;
    }
    .buttom p{
        font-size: 25px;
        font-weight: normal;
        margin: 15px 0;
        max-width: 65%;
        line-height: 30px;
    }
    .but-ton{
        background-color: rgb(245, 220, 0);
        padding: 20px 50px;
        border-radius: 2px;
        border: 0;
        margin-top: 8px;
    }
    .but-ton a{
        text-decoration: none;
        color: black;
        font-size: 25px;
    }
    .but-ton:hover{
        background-color: black;
        color: whitesmoke;
    }
    .but-ton a:hover{
        color: whitesmoke;
    }
    footer{
        background-color: rgb(73, 73, 73);
        margin-top: 90px;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px;
        padding: 25px;
    }
    .footer p{
        font-size: 32px;
    }
    .footer ul{
        display: flex;
    }
    footer ul{
        display: flex;
        list-style: none;
        cursor: pointer;
    }
    footer ul li{
        margin: 0 10px;
    }
    .footer ul li img{
        width: 40px;
    }
}